In [1]:
#!pip install gmaps
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
g_key

'AIzaSyAHIj13mjYxEBEbigJdm1rCXn65mRtF4j4'

In [3]:
weatherpy = pd.read_csv("../output_data/cities.csv")
weatherpy

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [4]:
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.

gmaps.configure(api_key=g_key)
locations = weatherpy[["Lat", "Lng"]]
humidity = weatherpy["Humidity"]

In [5]:
#Add Heatmap layer to map.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Create new DataFrame fitting weather criteria
    #Narrow down the cities to fit weather conditions 
    #Drop any rows will null values.

# Max temp < 80 and > 70, wind < 10mph, no clouds, drop if not all 3 conditions met
weatherDF = weatherpy.loc[(weatherpy["Wind Speed"] <= 10) & (weatherpy["Cloudiness"] == 0) & (weatherpy["Max Temp"] >= 70) & (weatherpy["Max Temp"] <= 80)].dropna()
weatherDF

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

In [31]:
#Hotel Map
    #Store into variable named hotel_df.
hotel_df = weatherDF.loc[:,"City"]
hotel_df

70     ponta do sol
88         cidreira
138       morondava
139           vaini
176           nador
297           mogok
444         birjand
Name: City, dtype: object

In [32]:
hotel_df = weatherDF.loc[:,["Country", "City", "Lat", "Lng"]]
hotel_df

    Country          City    Lat    Lng
70       BR  ponta do sol -20.63 -46.00
88       BR      cidreira -30.17 -50.22
138      MG     morondava -20.30  44.28
139      IN         vaini  15.34  74.49
176      MA         nador  35.17  -2.93
297      MM         mogok  22.92  96.51
444      IR       birjand  32.86  59.22

In [41]:
    #Set parameters to search for hotels with 5000 meters.
params = {"type" : "hotel","keyword" : "hotel","radius" : 5000,"key" : g_key}
params
lat = row["Lat"]
lng = row["Lng"]
cities = row["City"]
cities
lat

32.86

In [42]:
for index, row in hotel_df.iterrows():
#iterrows + API creation
    params["location"] = f"{lat},{lng}"
    print(f"{index}: {cities}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
#move to dataframe w .loc
#Store the first Hotel result into the DataFrame.
    try:
        print(f"The hotel we are looking for in {cities} is {results[0]['name']}")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
#except the errors
    except (KeyError, IndexError):
        print("")

70: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
88: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
138: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
139: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
176: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
297: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²
444: birjand.
The hotel we are looking for in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²

In [44]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [37]:
#Plot markers on top of the heatmap.
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))